.nav{
    background-color: white;
    z-index: 9;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    box-shadow: 0px 1px 50px 0px rgba(0,0,0,.15) ;
    height: 15%;
}
.nav_top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.logo{
    float: left;
    width: 60%;
}
.logo img{
    padding: 10px;
    width: 200px;
}
.nav_side{
    float: right;
    width: 40%;
    margin-top: 30px;
}
.nav_side a{
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-weight: bold;
    font-family: cosmic,sans-serif;
    font-size: 18px;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}
.nav_side a:hover{
    color: orange;
    transition: all 1s ease;
}
.main{
    background-image: url("images1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
}
.main .main_content{
    padding-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.main .main_content h2{
    color: rgb(216, 25, 206);
    font-size: 50px;
    font-family: cosmic, sans-serif;
    font-weight: bolder;
    text-align: center;
    line-height: 25px;
}
.main .main_content h2 span{
    font-size: 12px;
    opacity: 0.9;
    font-weight: light;
    line-height: 10px;
}
.main .main_content .btn a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    font-family: cosmic,sans-serif;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;
}
.main .main_content .btn a:hover{
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition:0.5s;
}
.product{
    padding-bottom: 50px;
}
.product h2{
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 20px;

}
.product .product_container{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.product .product_container .item{
    width: 33.33%;
    margin: 10px;
    padding-bottom: 15px;
    height: auto;

}
.product .product_container .item:hover{
    box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);
}
.product .product_container .item .item_img{
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.product .product_container .item .item_img img{
    width: 100%;
    height: 250px;
}
.product .product_container .item .item_content{
    text-align: center;
}
.product .product_container .item .item_content h3{
    padding: 10px;
    font-size: 15px;
    font-family:cosmic,sans-serif;
}
.product .product_container .item .item_content p{
    padding: 10px;
    font-size: 15px;
    font-family:cosmic,sans-serif;
}
.product .product_container .item .item_content a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    font-family: cosmic,sans-serif;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;
}
.product .product_container .item .item_content a:hover{
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition:0.5s;
}
.product .product_btn{
    text-align: center;
    margin-top: 50px;
}
.product .product_btn a{


    text-decoration: none;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    font-family: cosmic,sans-serif;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;
}
.product .product_btn a:hover{
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition:0.5s;
}
.keypoint{
    padding: 40px;

}
.keypoint h2{
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 10px;
}
.keypoint .key_container{
    display: flex;
    float: left;
    width: 100%;
}
.keypoint .key_container .key_content{
    width: 40%;
    padding: 20px;
    float: left;
}
.keypoint .key_container .key_content li{
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-left: 2px solid orange;
    color: black;
    text-align: left;
    font-family: cosmic, sans-serif;
    box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);

}
.keypoint .key_container .key_img{
    width: 40%;
    float: right;
    margin-left: 100px;
}
.keypoint .key_container .key_img img{
    width: 100%;
   
}
.testi{
    padding: 50px;
}
.testi h2{
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}
.testi .testi_container{
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}
.testi .testi_container .carousel-inner{
    background-color: white;
    box-shadow: none;
}
.testi .testi_container .item{
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: none;
}
.testi .testi_container .item .item_img{
    width: 100%;
    height: 100px;
    text-align: center;
    overflow: hidden;
}
.testi .testi_container .item .item_img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.testi .testi_container .item .item_content{
    text-align: center;
}
.testi .testi_container .item .item_content h3{
    padding: 10px;
    font-size: 15px;
    font-family:cosmic,sans-serif;
}
.testi .testi_container .item .item_content p{
    padding: 10px;
    font-size: 15px;
    font-family:cosmic,sans-serif;
}
.team{
    padding: 50px;
}
.team h2{
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}
.team .team_container{
    display: flex;
}
.team .team_container .team_video{
    width: 45%;
    padding: 15px;
}
.team .team_container .team_video video{
    width: 100%;
    border: 11px solid orange;
    outline: none;

}
.team .team_container .team_content{
    width: 40%;
    padding: 20px;
    margin-left: 50px;
}
.team .team_container .team_content p{
    padding: 10px;
    font-size: 15px;
    font-family:cosmic,sans-serif;
}
.feed{
    padding: 40px;
    background-image: url("images4.jpg");
    background-size: cover;
    text-align: center;
}
.feed h2{
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}
.feed .feed_form{
    text-align: center;
    width: 100%;
}
.feed .feed_form form{
    padding: 20px;
}
.feed .feed_form form input{
    width: 30%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
}
.feed .feed_form form textarea{
    width: 30%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
}
.feed .feed_form form button{
    width: 10%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 5px;
}

.about_us{
    padding: 100px;
}
.about_us h2{
    color: orange;
    font-size: 35px;
    text-align: center;
    padding: 20px;
    font-family: cosmic,sans-serif;
    text-transform: uppercase;
}
.about_us p{
    padding: 10px;
    font-size: 15px;
    text-align: center;
    font-family:cosmic,sans-serif;
    line-height: 25px;
}
.contact_container{
    padding: 100px;
}
.contact_container h2{
    color: orange;
    font-size: 35px;
    text-align: center;
    padding: 20px;
    font-family: cosmic,sans-serif;
    text-transform: uppercase;
}
.contact_container .g_map{
    border: 10px solid purple;
}
.contact_container .contact_content{
    padding: 20px;
}
.contact_container .contact_content p{
    padding: 10px;
    font-size: 15px;
    font-family:cosmic,sans-serif;
    line-height: 25px;
}
footer{
    background-color: grey;
    padding: 50px;

}
.footer_logo a img{
    width: 200px;
}
footer .pages{
    text-align: center;
}
footer .pages h3{
    color: black;
    font-size: 20px;
    font-family: cosmic,sans-serif;
    padding: 5px;
}
footer .pages a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 15px;
    font-family: cosmic,sans-serif;
}
footer .pages a:hover{
    color: white;
}
footer .doc{
    text-align: center;
}
footer .doc h3{
    color: black;
    font-size: 20px;
    font-family: cosmic,sans-serif;
    padding: 5px;
}
footer .doc a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 15px;
    font-family: cosmic,sans-serif;
}
footer .doc a:hover{
    color: white;
}
footer .social{
    text-align: center;
}
footer .social h3{
    color: black;
    font-size: 20px;
    font-family: cosmic,sans-serif;
    padding: 5px;
}
footer .social a{
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: orange;
    margin: 10px;
}
footer .social a:hover{
    color: white;
}
footer .contact{
    text-align: center;
}
footer .contact h3{
    color: black;
    font-size: 20px;
    font-family: cosmic,sans-serif;
    padding: 5px;
}
footer .contact a{
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: orange;
    margin: 10px;
}
footer .contact a:hover{
    color: white;
}